.pre {
  overflow-x: auto;
  background-color: rgb(30, 30, 30);
  counter-reset: line;
}
.code {
  display: grid;
  padding: 14px 0;
  white-space: pre;
  font-size: 13px;
  line-height: 18px;
  cursor: text;

  &.nonums > span {
    padding-left: 1rem;
    &::before { display: none; }
  }

  ::selection {
    background-color: rgba(0, 122, 204, 0.6);
  }
}

.code > span {
  counter-increment: line;
  transition: background-color 0.2s;
  padding-right: 1rem;

  &::before {
    display: inline-block;
    content: counter(line);
    margin: 0 20px 0 10px;
    width: 16px;
    flex-shrink: 0;
    text-align: right;
    transition: opacity 0.2s;
    color: rgb(156, 220, 254);
    opacity: 0.4;
  }
  &:hover {
    background-color: #88888818;
    &::before { opacity: 1; }
  }

  &.highlighted {
    background-color: #88888830;
    &:hover { background-color: #88888848; }
  }
}
