.container {
  display: block;
  position: sticky;
  top: calc(var(--navbar-height) + 3rem);
}
.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

.items {
  list-style: none;
  padding-left: 0;
  font-size: 0.9rem;
}
.item {
  margin-top: 0.25rem;
}

.link {
  display: inline-block;
  padding: 0.25rem 0;
}
