.copyButton {
  width: 32px;
  height: 32px;
  margin-left: auto;
  flex-shrink: 0;

  cursor: pointer;
  user-select: none;

  border: none;
  border-radius: 8px;
  background: none;

  transition: background-color 0.2s;
  &:hover {
    border-color: var(--color-border-lighter);
    background-color: var(--color-background-lighter);
  }
}

.floating {
  position: absolute;
  top: 6px;
  right: 6px;

  border: 1px solid var(--color-border);
  background-color: var(--color-background);

  opacity: 0;
  transition: background-color 0.2s, opacity 0.1s;
}
:is(:hover, :focus-within) > .floating {
  opacity: 1;
}
