.container {
  display: block;
  position: sticky;
  top: calc(var(--navbar-height) + 3rem);
  border-left: 2px solid var(--color-border);
  padding: 0.5rem 1rem 0.5rem 0;

  max-height: 80vh;
  overflow: auto;
  scrollbar-width: thin;
}

.items {
  list-style: none;
  padding-left: 1rem;
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}
.item {
  margin-top: 0.1rem;
}

.link {
  display: inline-block;
  padding: 0.25rem 0;

  color: inherit;
  transition: color 0.2s;
  text-decoration: none;
}
.active, .link:hover {
  color: var(--color-accent);
}
.active {
  font-weight: bold;
}
