.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  max-width: 1584px;
  margin: 0 auto 2rem;
}
.colSidebar {
  flex: 0 0 20%;
  min-width: 280px;
  max-width: 20%;
  padding-left: 1rem;
}
.colContent {
  flex: 1 1 0;
  padding: 1rem 2rem 0;
  max-width: 792px;
  overflow: auto;
}
.colToc {
  flex: 0 0 20%;
  min-width: 280px;
  max-width: 20%;
  padding-right: 1rem;
}

@media (max-width: 1152px) {
  .container {
    justify-content: flex-end;
  }
  .colSidebar {
    display: none;
  }
  .colContent {
    padding: 1rem 1rem 0;
  }
}
@media (max-width: 768px) {
  .colToc {
    display: none;
  }
}
