.headline {
  font-size: 3rem;
  margin: 0 0 1rem;
}
.headerInfo {
  display: grid;
  grid-template-columns: 240px 1fr;
  font-size: 0.8rem;
  margin: 1rem 0 2rem;
  gap: 0.5rem 1rem;
}
.tagsRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 0.5rem;
  grid-column: span 2;
  gap: 4px;
}

.authorsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 0.5rem;
  grid-row: span 2;
}
.author {
  display: flex;
}
.authorInfo {
  display: flex;
  flex-flow: column;
  margin-left: 0.5rem;
  justify-content: center;
}
.authorAvatarLink {
  flex-shrink: 0;
  > img {
    outline: 1px solid transparent;
    transition: outline 0.3s;
    &:hover {
      outline: 1px solid var(--color-accent-lighter);
    }
  }
}

.tagLink {
  color: var(--color-accent-lighter);
  padding: 4px 6px;
  border: 1px solid var(--color-border-lighter);
  border-radius: 8px;
  text-wrap: nowrap;

  transition: border-color 0.3s;
  &:hover {
    border: 1px solid var(--color-accent-lighter);
  }
}
