.markdown {
  --block-margin-bottom: 1.25rem;

  h1 { font-size: 3rem; }
  h2 { font-size: 2rem; margin-top: calc(var(--block-margin-bottom) * 2); }
  h3 { font-size: 1.5rem; margin-top: calc(var(--block-margin-bottom) * 1.6); }
}

:is(.markdown, .markdown [role=tabpanel], .markdown [role=panel]) {
  > :is(h1, h2, h3, h4, h5, h6):first-child {
    margin-top: 0;
  }
  > :is(p, ul, ol, h1, h2, h3, h4, h5, h6, img, table, hr, blockquote, [role=panel]) {
    margin-bottom: var(--block-margin-bottom);
    &:last-child { margin-bottom: 0; }
  }
}
